
*::before,
*::after {
box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboro, sans-serif;
    background: #E5E5E5;
}

.card-container{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.card {
    margin: 32px
    padding: 16px;
    background: #fff ;
    font-size: 14px;
    line-height: 20px;
    color: #202020;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05)
    border-radius: 16px;
}
.card__headline {
    background: green;
    /* font-family: Roboto: sans-serif; */
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.05em;
    text-transform: uppercase;

}
.card__image {
        width: 128px;
        height: 128px;
        border-radius: 8px;

}

}
.link {
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}
.link--light {
    color: #6F6F6F;
}

.icon-button__icon {

}
icon-button {

}

icon-button:hover {

}


