/* Quiz card */

.quizCard {
	background: rgb(48, 45, 48);
	border: 1px solid rgb(253, 253, 253);
	border-radius: 22px;
	color: var(--white);

	/* Layout */
	position: relative;
	padding: 2em;
	margin: 0 2.5em;
	display: flex;
	flex-direction: column;
	box-shadow: 10px 5px 5px black;

	will-change: opacity, scroll-position;
	animation: load 0.7s ease-out;

}


@keyframes load {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

/* Bookmark */

.quizCard__bookmarkIcon {
	position: absolute;
	right: 20px;
	top: -15px;
	color: white;
}

_.quizCard__bookmarkIcon--bookmarked {
	position: absolute;
	right: 20px;
	top: -15px;
	color: white;
}

.quizCard__bookmarkIcon__checked {
	color: #5af11f;
	transform: translateY(-12px);
	/* animation: setbookmark 0.7s; */
}

/* @keyframes setbookmark {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(-15px);
	}
} */


/* Header */

.quizCard__header {
	/* Typography */
	font-size: 1.25rem;
	text-transform: uppercase;
	/* color: blue; */

	/* Layout */
	margin-bottom: 0.25em;
}

/* Question-field */

.quizCard__questionField {
	/* Typography */
	font-size: 1rem;
	/* color: red; */

	/* Layout */
	padding: 0 0.75em;
	/* margin-bottom: 0.25em; */
}

/* Button */

.quizCard__answerButton {
	/* Layout */
	margin: 0.9em 0;
	display: flex;
	justify-content: center;
	
}



.answerButton {
	background-color: #5af11f;
	color: #000;
	transition: transform .2s;
	border: white solid 1px;
	margin: 0.9em 0;
	display: flex;
	justify-content: center;
	/* Typography */
		text-align: center;
		font-size: 0.9rem;
		text-transform: uppercase;
	
	/* Layout */
		border: white solid 1px;
		padding: 0.7em 1.5em;
		text-decoration: none;
		border-radius: 10px;
		box-shadow: 10px 5px 5px black;
		width: 170px;
}


.quizCard__answer {
		/* Typography */
		font-size: 1rem;
		/* color: green; */
		display: none;
		/* Layout */
		padding: 0 0.75em;
		margin-bottom: 0.25em;

}

.answerButton--show {
	display: unset;
	background: rgb(48, 45, 48);
}

.color--Answer {
	background: hsl(103, 77%, 33%);
}



/* Tags */

.quizCard__tags {
	display: flex;
	justify-content: space-around;
	margin-top: 0.25em;
	padding: 0;
	
}

.tag {
	padding: 0;
	margin: 0;
	box-shadow: 10px 5px 5px black;
}

.tag__type {
	font-size: 0.9em;
	padding: 0.3em 0.6em;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0;
}

.tag__type--theory {
	background: black;
}

.tag__type--scales {
	background: black;
}
.tag__type--notes {
	background: black;
}

.tag__type--intermediate {
	background: black;
